.wrapper {
  height: 500px;
  min-width: 240px;
  position: relative;
  overflow: hidden;
}
.link {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.remove {
  position: absolute;
  top: var(--padding-md);
  right: var(--padding-md);
}
