.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  &::before {
    background: var(--secondary-glow);
    border-radius: 50%;
    width: 480px;
    height: 360px;
    top: calc(50vh - 180px);
    margin-left: -400px;
  }

  &::after {
    background: var(--primary-glow);
    width: 240px;
    height: 180px;
    z-index: -1;
    top: calc(50vh - 90px);
  }

  &::before,
  &::after {
    content: '';
    left: 50%;
    position: fixed;
    filter: blur(45px);
    transform: translateZ(0);
  }
}
.scrolling {
  height: 100%;
  overflow: auto;
}
