
.card {
  display: flex;
  gap: var(--padding-xl);
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--padding-sm);
  width: 100%;
}

.value {
  display: flex;
  gap: var(--padding-md);
  span {
    width: 30px;
  }
}
.input {
  width: 100%;
}
.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.success {
  animation-name: successAnimation;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes successAnimation {
  0% {
    background-color: rgb(19, 212, 19);
  }
  100% {
    background-color: unset;
  }
}
