.wrapper{
  display: flex;
  padding: var(--padding-md);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius:  var(--border-radius-md);
  background-color: rgba(var(--callout-rgb), 0.5);
}
